.chat-button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Asegura que esté encima de otros elementos */
  }
  
  .chat-button {
    background-color: rgb(86, 106, 246); /* Color del botón */
    color: white;
    border: none;
    border-radius: 50%; /* Forma de círculo */
    width: 60px;
    height: 60px;
    font-size: 1.5em;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
  }
  
  .chat-button:hover {
    background-color: #0056b3; /* Cambia el color al pasar el ratón */
  }
  
  .chat-cloud {
    position: absolute;
    bottom: 100%; /* Posición por encima del botón */
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    z-index: 999; /* Asegura que esté por debajo del botón pero encima de otros elementos */
  }
  
  .toggle-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: rgb(86, 106, 246);
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }